{% extends 'home.html' %}

{% block body_block %}

<div class="delete-div">
    <p>Are you sure you want to delete {{item}} ?</p>
    <span>
    <form action="" method = 'POST'>
        {% csrf_token %}
        <input style="width: 30%;" class="btn btn-sm btn-info" type="submit" value='Confirm'>
    </form>
    <form action="/">
        <input style="width: 30%;" type="submit" value="Cancel" class="btn btn-sm btn-info">
    </form>
    </span>
</div>

{% endblock %}