<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{{title}}</title>
    <style>
        body{
            background-color: blueviolet;
        }
        input::placeholder {
            color: #d3d3d3;
        }
        input{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        .form-div{
            width: 500px;
            margin: auto;
            padding: 20px;
            background-color:whitesmoke;
            border-radius: 3px;
            box-shadow: 6px 2px 30px 0px ;
        }
        .delete-div{
            width: 500px;
            margin: auto;
            padding: 20px;
            background-color:whitesmoke;
            border-radius: 3px;
            box-shadow: 6px 2px 30px 0px ;
        }
        
        .center-column{
            width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 3px;
            box-shadow: 6px 2px 30px 0px rgba(0, 0,0, .75);
        }
        .item-row{
            background-color: #906abd;
            margin: 10px;
            padding: 20px;
            border-radius: 3px;
            color: #fff;
            font-size: 16px;
            box-shadow: 0px -1px 10px -4px rgba(0,0,0,0.75);
        }
        .btn-danger{
            background-color: #ffae19;
            border-color: #e59400;
        }
        .submit{
            background-color: #6BA3E8;
        }
        h1{
            text-align: center;
            margin: auto;
            padding: 20px;
        }


    </style>
</head>
<body>
    <h1>To-Do List</h1>
    {% block body_block %}
        <div class="center-column">
            <form action="/" method = "POST">
                {% csrf_token %}
                {{task_form.title}}
                <input type="submit" value="Submit">
            </form>

            <div>
                {% for task in tasks%}
                    <div class="item-row">
                        <a href="{% url 'update' task.id %}" class='btn btn-sm btn-info'>Update</a>
                        <a href="{% url 'delete' task.id %}" class='btn btn-sm btn-danger'>Delete</a>
                        {% if task.complete == True %}
                        <strike>{{task}}</strike>
                        <span style="color:springgreen">(Completed)</span>
                        {% else %}
                        <span> {{task}} </span>
                        {% endif %}
                    
                    </div>
                {% endfor %}
            </div>
        </div>        
    {% endblock %}
</body>
</html>