{% extends 'home.html' %}


{% block body_block %}
    <div class="form-div">
        <form action="" method='POST'>
            {% csrf_token %}
            {{task_form}}
            <input type="submit" value='Update Task'>
        </form>
    </div>
{% endblock %}